p{
    font-family: Arial;
}
.card-one{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    width: 300px;
    padding-left: 15px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.card-two{
    background-color: rgb(33, 33, 33);
    border: none;
    width: 300px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 50px;
}
.youtube-music{
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.content{
    font-size: 12px;
    color: gray;
    width: 280px;
}
.profile-picture{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 100px;
    vertical-align: middle;
    margin-right: 5px;
}
.textbox{
    border: none;
    font-size: 30px;
    width: 450px;
    vertical-align:middle;
}
.tweet-button{
    background-color: rgb(53, 175, 245);
    color:white;
    width: 110px;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 32px;
    border: none;
    vertical-align:middle;
}
.Twitter-textbox{
    border-radius: 6px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    width: 700px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
}